<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--华安保险-->
    <section name="HuaAnConfig" type="Max.Service.Payment.InsuranceSuppliers.HuaAn.HuaAnConfig,Max.Service.Payment" />
    <!--阳光保险-->
    <section name="SunlightConfig" type="Max.Service.Payment.InsuranceSuppliers.Sunlight.SunlightConfig,Max.Service.Payment" />
    <!--中转页面重定向-->
    <section name="Redirects" type="System.Configuration.DictionarySectionHandler" />
    <section name ="FinanceConfiguration" type="Max.SDK.Finance.Helper.FinanceConfigSection,Max.SDK.Finance"/>
  </configSections>
  <!--华安保险配置-->
  <HuaAnConfig ApiUrl="http://agenttest.sinosafe.com.cn/carservice" PayUrl="http://agenttest.sinosafe.com.cn/tstpayonline/recvMerchantAction.do" UserName="zhaohang" PassWord="zhaohang" Extenterpcode="CMBC0601037043"></HuaAnConfig>
  <!--华安保险配置 预演环境-->
  <!--<HuaAnConfig ApiUrl="http://agenttest.sinosafe.com.cn/carservicestg" PayUrl="http://agenttest.sinosafe.com.cn/tstpayonline/recvMerchantAction.do" UserName="zhaohang" PassWord="zhaohang" Extenterpcode="CMBC0601037043"></HuaAnConfig>-->
  <!--阳光保险配置-->
  <SunlightConfig ApiUrl1="http://1.202.156.231:7001/webapps/CommServer?OperateSite=GDQD" ApiUrl2="http://1.202.156.231:7001/webapps/CommserverInteractive?OperateSite=GDQD" OperateSite="GDQD" UserName="test" PassWord="test002" Key="cc0d52ecm5d17q46a0b9181r951c467b9ec5" PrefixIP="10.10.0.193    " BussinessNature="0" ChannelType="N023" ITBusUrl="http://testservicebus.sinosig.com/WebContent/ServicebusCPLService.do"  QueryStatus="F8" PayType="83" ServerNameKey="QIANDUAN" RequestKey="QIANDUANCXBXWFVCH5LK4N1UO76BJE20ZRA3S8" ParameterKey="wtf8Y59PMv1jlaqYJgPvj254yis68P" SignKey="QIANDUANqianduan123" Extenterpcode="CMBC0601037043"></SunlightConfig>
  <!--中转页面重定向-->
  <Redirects>
    <add key="Invest" value="https://www.baidu.com/" />
  </Redirects>

  <connectionStrings>
    <add name="Max.Models.Project" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Project;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.System" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_System;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianTu" connectionString="Data Source=10.1.20.30;Initial Catalog=QianTu;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T;MultipleActiveResultSets=True;MultiSubnetFailover=True" />
    <add name="Max.Models.QianTu_LC" connectionString="Data Source=10.1.20.30;Initial Catalog=QianTu_LC;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianTu_MC" connectionString="Data Source=10.1.20.30;Initial Catalog=QianTu_MC;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Qt_Msg" connectionString=" Data Source=10.1.20.30;Initial Catalog=Qt_Msg;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.PushMessage" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_PushMessage;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Payment" connectionString=" Data Source=10.1.20.30;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.CarLoan" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Loan" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Credit;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianDuan_Mall" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Mall;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Credit" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Credit;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />

    <!--<add name="Max.Models.Project" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Project;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.Payment" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.QianDuan_Mall" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Mall;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.System" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_System;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.QianTu" connectionString="Data Source=192.168.20.118;Initial Catalog=QianTu;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV;MultipleActiveResultSets=True;MultiSubnetFailover=True" />
    <add name="Max.Models.QianTu_LC" connectionString="Data Source=192.168.20.118;Initial Catalog=QianTu_LC;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV;MultipleActiveResultSets=True;MultiSubnetFailover=True" />
    <add name="Max.Models.QianTu_MC" connectionString="Data Source=192.168.20.118;Initial Catalog=QianTu_MC;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.Qt_Msg" connectionString=" Data Source=10.1.20.30;Initial Catalog=Qt_Msg;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.PushMessage" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_PushMessage;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.Credit" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Credit;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.Loan" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Credit;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.CarLoan" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />-->
  </connectionStrings>

  <appSettings>
    <!-- 系统级别配置 开始-->
    <add key="Domain" value="https://mobile.qianduan.com" />
    <add key="redis" value="10.1.20.139:6379" />
    <add key="mongo" value="mongodb://10.1.20.143:27017" />
    <add key="bus" value="host=10.1.20.140;username=admin;password=admin@ucsmy" />
    <add key="memcache" value="10.1.20.29:11211" />
    <!--<add key="memcache" value="127.0.0.1:11211" />-->
    <!-- 系统日志 0 不记录 1 log4net 文本 2 MongoDb -->
    <!-- 0 不记录 1 MQ 2 文件 -->
    <add key="logType" value="1" />
    <add key="debugLog" value="1" />
    <add key="debugErr" value="1" />
    <!--===================App3.0 投资项目详情-Start=================-->
    <!--递增份数-->
    <add key="StepPart" value="100" />
    <!--预约递增份数-->
    <add key="BookingStepPart" value="100" />
    <!--每份金额(若无配置数据则用新章在表里面的字段："UnitAmount")-->
    <add key="EachPartAmount" value="1" />
    <!--最低投标份额-->
    <add key="MinInvestPartsCount" value="100" />
    <!--最低预约份额-->
    <add key="MinBookingPartsCount" value="100" />
    <!--新手表限额-->
    <add key="NoviceLimitPartAmount" value="999" />
    <!--默认尾单金额-->
    <add key="EndLimitPartAmount" value="500" />
    <!--默认份数-->
    <add key="DefaultPart" value="" />

    <!--摇钱宝api地址-->
    <add key="YQBApiUrl" value="http://lcapitest.qianduan.com/wefax-bin/Business/YQB" />
    <add key="YQBToken" value="YQB" />

    <!--===================App3.0 投资项目详情-End=================-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--发短信邮件接口地址-->
    <add key="MsgUrl" value="http://tmsg.cmbchinaucs.com/MessageService.ashx" />
    <add key="SmsSystemId" value="1CC7C335-AEE1-4D34-BC81-032BF672BE3F" />
    <add key="tokenId" value="CDAE4822286C1472874ED71269D3571C" />
    <!--验证码有效时间（分钟）-->
    <add key="SmsCodeWaitFor" value="5" />
    <!-- 网金信贷管理 -->
    <add key="CMCRisk" value="http://10.1.20.149/cmcrisk/api/riskctrl" />
    <!--点我有奖跳转地址-->
    <add key="myUrl" value="https://mobile.qianduan.com/Activity/Invitefriends" />

    <!--推送服务地址-->
    <add key="PushApiUrl" value="http://pushapitest.qianduan.com/api/push" />

    <!--投资信用支付接口配置-->
    <add key="CreditPayApiUrl" value="http://tapi.creditpay.com/webapi/service" />
    <add key="SystemNo" value="101000" />
    <add key="CreditPayToken" value="9E8858BD836D4A07A99AB50EB175FAE2" />
    <add key="Password" value="ucs2013" />

    <!--车险配置-->
    <add key="PaymentT_1" value="1_3" />
    <!--华安配置工作日T+3,value第一位1：工作日，0：自然日；第三位代表T+几-->
    <add key="PaymentT_2" value="0_1" />
    <!--阳光配置自然日T+1,value第一位1：工作日，0：自然日；第三位代表T+几-->
    <add key="PaymentCOT_2" value="20:00:00"/>
    <!--阳光配置,报价提交截止时间-->
    <!--车险T+1日，生效日期-->
    <add key="PaymentDateRange" value="90" />
    <!--车险订单过期时间，如 21:00 -->
    <add key="LastEndPayTime_Time" value="21:00" />
    <!--车险生效日期范围，天为单位-->
    <!--车险首付比例0~100-->
    <add key="CarDownPaymentRate" value="20"/>

    <!--微信分享-->
    <add key="WX_ApplyId" value="wx032ccb15f161c2b7" />
    <add key="HuiGoldApiUrl" value="http://tclientapi.wefax.cn/Call/AppHandler.aspx" />
    <add key="shakeNewTime" value="2016-04-15" />

    <!--获取图片地址（域名）-->
    <add key="PicServiceUrl" value="http://timage.ucsmy.com/Upload/QianTu" />
    <!--图片链接地址-->
    <add key="QianTuPicUrl" value="http://timage.ucsmy.com/Upload/QianTu" />
    <!-- 头像读取地址 -->
    <add key="TouXiangUploadUrl" value="http://filestest.qianduan.com/" />
    <!--阳光保险配置-->
    <add key="ServerNameKey" value="QIANDUAN"/>
    <add key="RequestKey" value="QIANDUANCXBXWFVCH5LK4N1UO76BJE20ZRA3S8"/>
    <add key="ParameterKey" value="wtf8Y59PMv1jlaqYJgPvj254yis68P"/>
    <add key="PayQueryKey" value="QIANDUANCX"/>
    <add key="PolicyQueryKey" value="QIANDUANZF"/>
    <add key="GeneratePolicyKey" value="QIANDUAN"/>
    <add key="SignKey" value="QIANDUANqianduan123"/>

    <!--同盾风险接口(新)-->
    <add key="TDApiUrl" value="http://tdapitest.qianduan.com/api/TDRisk"/>


    <!--员工贷 放款市场订单-->
    <add key="LoanOrderNo" value="ZJJS001654" />

    <!--员工贷 还款市场订单-->
    <add key="LoanRepayOrderNo" value="YGXJDHK20160000001" />

    <!--员工贷 扣款 账户-->
    <add key="LoanDebitAccount" value="110907996610999" />
    <!--员工贷 扣款 账户 户名-->
    <add key="LoanDebitAccountName" value="中金支付有限公司客户备付金" />
    <!--员工贷 扣款 账户省份-->
    <add key="LoanDebitAccountProvince" value="北京市" />
    <!--员工贷 扣款 账户城市-->
    <add key="LoanDebitAccountCity" value="北京市" />
    <!--员工贷 扣款 账户BankId-->
    <add key="LoanDebitAccountBankId" value="308" />
    <!--员工贷 扣款 账户分支行名称-->
    <add key="LoanDebitAccountBranchName" value="北京分行宣武门支行" />
    <!--员工贷 扣款 账户联行号-->
    <add key="LoanDebitAccountBankNo" value="308100005125" />
    <!--员工贷 代扣 备注 -->
    <add key="LoanAgencyReceiptRemark" value="" />
    <!--员工贷 放款 备注 -->
    <add key="LoanToUserRemark" value="" />
    <!--员工贷 结算 公司账户 -->
    <add key="LoanSettlementAccount" value="44001581301053017025" />
    <!--员工贷 结算 公司名称 -->
    <add key="LoanSettlementAccountName" value="广东钱端商务服务有限公司" />
    <!--员工贷 结算 开户银行 -->
    <add key="LoanSettlementBankName" value="中国建设银行" />
    <!--员工贷 结算 开户银行 -->
    <add key="LoanSettlementBankId" value="105" />
    <!--员工贷 结算 开户省份 -->
    <add key="LoanSettlementProvince" value="广东省" />
    <!--员工贷 结算 开户城市 -->
    <add key="LoanSettlementCity" value="广州市" />
    <!--员工贷 结算 开户支行 -->
    <add key="LoanSettlementBranchName" value="中国建设银行股份有限公司广州天河支行" />
    <!--员工贷 结算 联行号 -->
    <add key="LoanSettlementBankNo" value="105581012011" />


    <!-- 文件上传地址 -->
    <add key="FileUploadUrl" value="http://fileapi.qiandufan.com" />
    <!--员工贷罚息-->
    <add key="LoanOverDueRate" value="0.0005"/>

    <!--员工贷 项目名称-->
    <add key="LoanTitleName" value="惠消费" />
    <!--员工贷 项目名称时间段{开始时间（含）,结束时间（含）,项目名称}-->
    <add key="LoanTitleNameDuration" value="2000-1-1,2017-2-7,消费易;2017-2-8,2100-12-31,惠消费" />

    <!--小企业E家-->
    <add key="FundApiUrl" value="http://wqbapi.cmbchinaucs.com/App/WQB/Finance" />

    <!--中金支付Url-->
    <add key="CFCAUrl" value="http://financeapitest.qianduan.com/api" />
    <!--现金贷市场订单号-->
    <add key="FK_OrderNo" value="ZJJS001654" />

    <!--中金支付机构Id：8-->
    <add key="InstitutionId" value="8" />

    <!--神州融风控接口地址-->
    <add key="SZRApiUrl" value="http://szrapitest.qianduan.com/api/Process/"/>
    <add key="SZR_APP_PC_Apply_ProductCode" value="SX0001"/>
    <add key="SZR_APP_PL_Apply_ProductCode" value="GD0001"/>
    <add key="SZR_APP_PC_UseCreditLimit_ProductCode" value="GD0001"/>

    <!--员工贷 跳转活动地址-->
    <add key="LoanActivityUrl" value="http://activity.zhongjinsuo.cn/H5Act"/>

    <!-- 资金平台API -->
    <add key="FinanceApiUrl" value="http://financeapitest.qianduan.com/api"/>

    <add key="CurrentChannel" value="2" />

    <!--车贷不允许使用的银行编码-->
    <add key="DisabledBankCodes" value="302,307,401,403" />
    <!--惠消费_修改还款银行卡生命周期内预警邮件-->
    <add key="LoanModifBankCardAlertEmailToLife" value="liangkunshang@qianduan.com"/>
    <!--惠消费_修改还款银行卡月度预警邮件-->
    <add key="LoanModifBankCardAlertEmailToMoth" value="liangkunshang@qianduan.com"/>

    <!--默认机构号-->
    <add key="DefaultInstitutionNo" value="001443"/>

    <!--项目说明书时间节点配置：日期配置（如：2017-04-24 14:43:28）； 时分秒配置（如：14:43:28）-->
    <add key="ProjectManual" value="11:30:00" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name="Max.WAP.AUTH" loginUrl="~/carLoan/login" protection="All" slidingExpiration="true" timeout="2000" />
    </authentication>
    <machineKey
      validationKey="2007EB3583821067F2414721C829B3AA568E4EE96090E53D5050206B88D61DA5875D8ECE84650C898A117FE240E341BA4A2CDF98EC28CE2A033E1BA0A378B323"
      decryptionKey="0F7D79C435E5C525CFF8CAADF3BB5845031CC7F448CC1A1CC50D700F573F5276"
      validation="SHA1" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <FinanceConfiguration>
    <EncryptConfigs>
      <System systemId="8">
        <EncryptItem>
          <add key="CusPfxFilePath" value="E:\RsaKeys\cusKey\foo.pfx"/>
          <add key="CusPfxFilePassword" value="111"/>
          <add key="FinancePublickeyPath" value="E:\RsaKeys\financeKey\foo.cer"/>
          <add key="aesKeyFinance" value="12345678912345678912345678912345"/>
          <add key="desKeyFinance" value="83j5WmUh"/>
        </EncryptItem>
      </System>
      <System systemId="5">
        <EncryptItem>
          <add key="CusPfxFilePath" value="E:\D\sdk\cusKey\foo.pfx"/>
          <add key="CusPfxFilePassword" value="111"/>
          <add key="FinancePublickeyPath" value="E:\D\sdk\financeKey\foo.cer"/>
          <add key="aesKeyFinance" value="12345678912345678912345678912345"/>
          <add key="desKeyFinance" value="83j5WmUh"/>
        </EncryptItem>
      </System>
     
    </EncryptConfigs>
  </FinanceConfiguration>
</configuration>
