@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <title>支付跳转中...</title>
</head>
<body style="background:#fff;">
    <div style="width:100%;text-align:center;" id="title">
        <span style="color:#4800ff;font-size:14px;">页面执行中，请勿关闭或刷新页面...</span>
    </div>
    <form action="@ViewData["url"]" method="@(ViewData["method"]??"POST")">
        @foreach (KeyValuePair<string, string> item in Model)
        {
            <input type="hidden" name="@item.Key" value="@item.Value" />
        }
    </form>
    <script src="~/Scripts/jquery-1.12.0.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#title").css("margin-top", $("window").height() * 0.5 + "px");
            //$("form")[0].submit();
        })
    </script>
</body>
</html>
