<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="Max.Models.Payment" connectionString="Data Source=127.0.0.1;Initial Catalog=Max_Pay;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=sa;Password=123456" />

    <add name="Max.Models.System" connectionString="Data Source=127.0.0.1;Initial Catalog=Max_System;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=sa;Password=123456" />
  </connectionStrings>

  <appSettings>
    <!-- 系统级别配置 开始-->
    <add key="redis" value="127.0.0.1:6379" />
    <add key="mongo" value="mongodb://127.0.0.1:27017" />
    <add key="bus" value="host=127.0.0.1;username=poc;password=pocbet" />
    <add key="memcache" value="127.0.0.1:11211" />
    <!-- 系统日志 0 不记录 1 log4net 文本 2 MongoDb -->
    <!-- 0 不记录 1 MQ 2 文件 -->
    <add key="logType" value="1" />
    <add key="debugLog" value="1" />
    <add key="debugErr" value="1" />
    <!-- 系统级别配置 结束 -->

    <!-- 文件上传地址 -->
    <add key="FileUploadUrl" value="http://fileapi.xx.com" />
    

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />



    <!--SSO MD5 -->
    <add key="md5Key" value="0t5u323CaD466a4A83r8y81e6A90u606DbD8" />
    <!--SSO登录站点 -->
    <add key="SSOLoginUrl" value="http://ssotest.xx.com" />

  </appSettings>

  <system.web>

    <!-- 登录设置 开始 -->
    <authentication mode="Forms">
      <!--<forms name="QDLGN" loginUrl="http://ssotest.qianduan.com" protection="All" path="/" slidingExpiration="true" timeout="60" />-->
      <forms name="QDLGN" loginUrl="~/account/login" protection="All" path="/" slidingExpiration="true" timeout="60" />
    </authentication>
    <!-- 登录设置 结束 -->
    <machineKey validationKey="2007EB3583821067F2414721C829B3AA568E4EE96090E53D5050206B88D61DA5875D8ECE84650C898A117FE240E341BA4A2CDF98EC28CE2A033E1BA0A378B323" decryptionKey="0F7D79C435E5C525CFF8CAADF3BB5845031CC7F448CC1A1CC50D700F573F5276" validation="SHA1" />
    <compilation debug="true" targetFramework="4.5" />
    <!--文件上传大小限制(单位kb)和超时时间(单位为秒s)-->
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" executionTimeout="60" />
  </system.web>

  <!--httpModule配置-->
  <!--<system.webServer>
    <modules>
      <add name="SSOModule" type="Max.Framework.SSO.SSOHttpModule, Max.Framework.SSO, Version=1.0.0.0, Culture=neutral" />
    </modules>
  </system.webServer>-->


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
