<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="MobileConfig" type="Max.Service.QianDuan_Mall.Recharge.NNK.Models.MobileConfig,Max.Service.QianDuan_Mall" />
    <section name="FuelCardConfig" type="Max.Service.QianDuan_Mall.Recharge.NNK.Models.FuelCardConfig,Max.Service.QianDuan_Mall" />
    <section name="RefuelCardConfig" type="Max.Service.QianDuan_Mall.Recharge.RefuelCard.Models.RefuelCardConfig,Max.Service.QianDuan_Mall" />
    <section name="TagColorConfig" type="Max.Web.AppApi.Common.TagColorConfig, Max.Web.AppApi" />
    <section name="JDConfig" type="Max.Service.QianDuan_Mall.ProductSuppliers.JD.Model.JDConfig,Max.Service.QianDuan_Mall" />
    <section name="HuaAnConfig" type="Max.Service.Payment.InsuranceSuppliers.HuaAn.HuaAnConfig,Max.Service.Payment" />
    <section name="MallHomeChannelFirstConfig" type="Max.Web.AppApi.Business.Response.ChannelConfig,Max.Web.AppApi"/>
    <section name="MallHomeChannelSecondConfig" type="Max.Web.AppApi.Business.Response.ChannelConfig,Max.Web.AppApi"/>
    <section name ="FinanceConfiguration" type="Max.SDK.Finance.Helper.FinanceConfigSection,Max.SDK.Finance"/>
  </configSections>
  <JDConfig ApiBaseUrl="https://bizapi.jd.com" Client_id="4cLfOnK9EvdcGbBvdBRA" Client_secret="SsGY48C9Vw13zdYyOcwb" Username="广东钱端" Password="qianduan@2016" ImgBaseUrl="http://img13.360buyimg.com/n0/" Shanhui_Jd_Email="shanhui_jd@qianduan.com"></JDConfig>

  <!--手机直充配置-->
  <MobileConfig ApiBaseUrl="http://112.95.172.89:7080/recvcdkey.php" QueryUrl="http://112.95.172.89:7080/fast_query.php" MerId="1000000007" MerAccount="100000000000007" Key="I5oCbrolpr4=" InterfaceName="007KA_KM" InterfaceNumber="1.0.1.2" QueryInterfaceName="007KA_SRH" QueryInterfaceNumber="1.0.0.1" SingleLimitAmount="100000" DayLimitAmount="500000" MerURL="http://localhost:6855/api/RechargeCallBack/index"></MobileConfig>
  <!--加油卡充值配置-->
  <FuelCardConfig ApiBaseUrl="http://112.95.172.89:81/fuelcard/charge.php" QueryUrl="http://112.95.172.89:81/fast_query.php" MerId="1777777777" MerAccount="100000777777777" Key="I5oCbrolpr4=" InterfaceName="007KA_KM" InterfaceNumber="1.0.0.1" QueryInterfaceName="007KA_SRH" QueryInterfaceNumber="1.0.0.1" MerURL="http://localhost:6855/api/RechargeCallBack/index"></FuelCardConfig>
  <RefuelCardConfig ApiBaseUrl="http://182.150.21.110:25555/b2b/orderInt.htm" QueryCardUrl="http://182.150.21.110:25555/fuel/querycardInfo.htm" QueryUrl="http://182.150.21.110:25555/b2b/queryOrderInt.htm" MerURL="http://openapitest.qianduan.com/RefuelCardApi" ServiceId="50" MerId="test000001" Key="test000001" UserName="广东钱端" Version="1.0.3加油卡"></RefuelCardConfig>

  <!--闪惠首页banner配置-->
  <MallHomeChannelFirstConfig Url="{ttps://htest.qianduan.com/MallIndex/Enjoy : }" Title="惠生活" IsDefault="true"></MallHomeChannelFirstConfig>
  <MallHomeChannelSecondConfig  Url="https://htest.qianduan.com/MallIndex/Index" Title="惠享受" IsDefault="false"></MallHomeChannelSecondConfig>

  <TagColorConfig FirstColor="#F0B446" SecondColor="#CB86F3" ThirdColor="#6EB4FF"></TagColorConfig>
  <!--华安保险配置-->
  <HuaAnConfig ApiUrl="http://agenttest.sinosafe.com.cn/carservice" PayUrl="http://agenttest.sinosafe.com.cn/tstpayonline/recvMerchantAction.do" UserName="zhaohang" PassWord="zhaohang" Extenterpcode="CMBC0601037043"></HuaAnConfig>
  <!--华安保险配置 预演环境-->
  <!--<HuaAnConfig ApiUrl="http://agenttest.sinosafe.com.cn/carservicestg" PayUrl="http://agenttest.sinosafe.com.cn/tstpayonline/recvMerchantAction.do" UserName="zhaohang" PassWord="zhaohang" Extenterpcode="CMBC0601037043"></HuaAnConfig>-->
  <connectionStrings>
    <add name="Max.Models.Project" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Project;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.System" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_System;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianTu" connectionString="Data Source=10.1.20.30;Initial Catalog=QianTu;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianTu_LC" connectionString="Data Source=10.1.20.30;Initial Catalog=QianTu_LC;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianTu_MC" connectionString="Data Source=10.1.20.30;Initial Catalog=QianTu_MC;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Qt_Msg" connectionString=" Data Source=10.1.20.30;Initial Catalog=Qt_Msg;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.PushMessage" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_PushMessage;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Credit" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Credit;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Payment" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Loan" connectionString="Data Source=10.1.20.126;Initial Catalog=QianDuan_Credit;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Credit" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Credit;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.CarLoan" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.CarLoan" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianDuan_Mall" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Mall;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianDuan_Mall_ReadOnly" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Mall;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />

    <!--<add name="Max.Models.Payment" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.Project" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Project;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.Payment" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.QianDuan_Mall" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Mall;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.System" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_System;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.QianTu" connectionString="Data Source=192.168.20.118;Initial Catalog=QianTu;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV;MultipleActiveResultSets=True;MultiSubnetFailover=True" />
    <add name="Max.Models.QianTu_LC" connectionString="Data Source=192.168.20.118;Initial Catalog=QianTu_LC;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV;MultipleActiveResultSets=True;MultiSubnetFailover=True" />
    <add name="Max.Models.QianTu_MC" connectionString="Data Source=192.168.20.118;Initial Catalog=QianTu_MC;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.Qt_Msg" connectionString=" Data Source=10.1.20.30;Initial Catalog=Qt_Msg;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.PushMessage" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_PushMessage;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.Credit" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Credit;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.Loan" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Credit;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.CarLoan" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.QianTu" connectionString="Data Source=192.168.20.118;Initial Catalog=QianTu;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV;MultipleActiveResultSets=True;MultiSubnetFailover=True" />-->
    
  </connectionStrings>

  <appSettings>
    <!-- 系统级别配置 开始-->
    <add key="memcache" value="10.1.20.29:11211" />
    <add key="redis" value="10.1.20.139:6379" />
    <add key="mongo" value="mongodb://10.1.20.143:27017" />
    <add key="bus" value="host=10.1.20.140;username=admin;password=admin@ucsmy" />
    <!-- 0 不记录 1 MQ 2 文件 -->
    <add key="logType" value="1" />
    <!-- 系统级别配置 结束 -->
    <!--摇钱宝api地址-->
    <add key="YQBApiUrl" value="http://lcapitest.qianduan.com/wefax-bin/Business/YQB" />
    <add key="YQBToken" value="YQB" />
    <!--小企业E家-->
    <add key="FundApiUrl" value="http://wqbapi.cmbchinaucs.com/App/WQB/Finance" />
    <!--H5地址-->
    <add key="PresentationUrl" value="http://htest.qianduan.com" />

    <!--===================App3.0 投资项目详情-Start=================-->
    <!--递增份数-->
    <add key="StepPart" value="100" />
    <!--预约递增份数-->
    <add key="BookingStepPart" value="100" />
    <!--每份金额(若无配置数据则用新章在表里面的字段："UnitAmount")-->
    <add key="EachPartAmount" value="1" />
    <!--最低投标份额-->
    <add key="MinInvestPartsCount" value="100" />
    <!--最低预约份额-->
    <add key="MinBookingPartsCount" value="1000" />
    <!--新手表限额-->
    <add key="NoviceLimitPartAmount" value="999" />
    <!--默认尾单金额-->
    <add key="EndLimitPartAmount" value="500" />
    <!--默认份数-->
    <add key="DefaultPart" value="" />

    <add key="FaceID_Key" value="wangjinkonggu-official-id" />
    <add key="FaceID_Secret" value="dVzBzn4TXnbJinpZCfvOLGVyutOBjnR-" />

    <!--===================App3.0 投资项目详情-End=================-->

    <!--===================发送短信 start======================-->
    <!--发短信邮件接口地址-->
    <add key="MsgUrl" value="http://tmsg.cmbchinaucs.com/MessageService.ashx" />
    <add key="SmsSystemId" value="1CC7C335-AEE1-4D34-BC81-032BF672BE3F" />
    <add key="tokenId" value="CDAE4822286C1472874ED71269D3571C" />
    <!--手机验证码有效期 单位 分-->
    <add key="SmsCodeWaitFor" value="5" />
    <!--===================发送短信 End======================-->
    <!--付款方账户-->
    <add key="PayerAccountID" value="710dac6e-7f57-4d74-b37d-1c16d3ca3819" />
    <!--付款方用户名-->
    <add key="PayerUserName" value="广东钱端商务服务有限公司" />
    <!--付款方用户编号-->
    <add key="PayerUserNo" value="64dd4c20-e547-4a6e-bffc-0f80a0c2dc01" />
    <!--付款账户渠道ID-->
    <add key="PayerChannelID" value="c6c9731c-1a39-4571-83ce-fe123c543a36" />
    <!--付款账户渠道编号-->
    <add key="PayerChannelNo" value="U1000006" />

    <!--收款方账户(市场订单)-->
    <add key="PayeeAccountID" value="CTBSIO_001" />
    <!--收款方用户名-->
    <add key="PayeeUserName" value="钱端" />
    <!--收款账户渠道ID-->
    <add key="PayeeChannelID" value="c6c9731c-1a39-4571-83ce-fe123c543a36" />
    <!--收款账户渠道编号-->
    <add key="PayeeChannelNo" value="U1000006" />

    <!--平台机构号-->
    <add key="InstitutionNo" value="101000" />
    <add key="WQBApiUrl" value="http://tepbu.cmbchinaucs.com/webapi/fund/ourrequest" />
    <add key="FromType" value="20" />
    <add key="FundInstitutionID" value="P001" />

    <add key="FaceUrl" value="http://10.1.20.31:8080/datacenter/api/faceRecognise" />
    <add key="FaceUserId" value="admin" />
    <add key="FaceKey" value="f49180c8-6047-4ef6-8a11-fe52392522e5" />

    <!--风控接口-->
    <add key="AbnormalLoginUrl" value="http://api.wj-data.net/datacenter/AbnormalLoginService" />
    <add key="AbnormalLoginId" value="admin" />
    <add key="AbnormalLoginKey" value="aaabbb" />

    <add key="RiskEquipUrl" value="http://api.wj-data.net/datacenter/RiskEquipCheckService" />
    <add key="RiskEquipId" value="admin" />
    <add key="RiskEquipKey" value="aaabbb" />

    <add key="InstitutionId" value="8" />

    <!--旧内部接口地址-->
    <add key="WefaxApiUrl" value="http://innerapinew.qianduan.com/api" />
    <add key="InternalApi" value="http://whqinnerapinew.qianduan.com/api"/>

    <!--获取图片地址（域名）-->
    <add key="PicServiceUrl" value="http://timage.ucsmy.com/Upload/QianTu" />
    <!--图片链接地址-->
    <add key="QianTuPicUrl" value="http://timage.ucsmy.com/Upload/QianTu" />
    <!-- 文件上传地址 -->
    <add key="FileUploadUrl" value="http://localhost:3682/" />
    <!-- 头像读取地址 -->
    <add key="TouXiangUploadUrl" value="http://filestest.qianduan.com/" />

    <!--现金红包到账日-->
    <add key="WithdrawDay" value="3" />
    <!--中金支付Url-->
    <!--
    <add key="CFCAUrl" value="http://financeapitest.qianduan.com/api" />
    -->
    <!--中金支付机构Id：8-->
    <!--
    <add key="InstitutionId" value="8" />-->

    <!-- 资金平台API -->
    <add key="FinanceApiUrl" value="http://financeapitest.qianduan.com/api"/>

    <!--投资信用支付接口配置-->
    <add key="CreditPayApiUrl" value="http://tapi.creditpay.com/webapi/service" />
    <add key="SystemNo" value="101000" />
    <add key="CreditPayToken" value="9E8858BD836D4A07A99AB50EB175FAE2" />
    <add key="Password" value="ucs2013" />
    <!--网金授信信用支付接口地址-->
    <add key="WJCreditDataPayApiUrl" value="http://wjdataapitest.qianduan.com/api" />
    <!--特权使用时间-->
    <add key="PrivilegesUseTime" value="1|10:00|23:30,2|10:00|23:30,3|10:00|23:30,4|10:00|23:30,5|10:00|23:30" />

    <!--推送服务地址-->
    <add key="PushApiUrl" value="http://pushapitest.qianduan.com/api/push" />

    <!--支付密码检测结果有效期 单位：秒-->
    <add key="CheckPayPwdResult" value="60"/>

    <!--注册是否显示推荐人-->
    <add key="RegisterRecommender" value="1"/>
    <!--实名验证是否显示推荐人-->
    <add key="CertifiedRecommender" value="1"/>

    <!--全局动态配置信息-->
    <add key="TMobileDomain" value="http://htest.qianduan.com" />
    <add key="TWqbDomain" value="http://wqbtest.qianduan.com" />
    <add key="TBqdDomain" value="http://activitytest.qianduan.com" />
    <add key="MobileDomain" value="http://mobile.qianduan.com" />
    <add key="WqbDomain" value="http://wqb.qianduan.com" />
    <add key="BqdDomain" value="http://b.qianduan.com" />

    <!--同盾服务API-->
    <add key="TDApiUrl" value="http://tdapitest.qianduan.com/api/TDRisk"/>

    <!--高收益图片-->
    <add key="HighYield" value="https://htest.qianduan.com/Content/Images/HighYield.png" />

    <!--摇钱宝优惠卷id-->
    <add key="YQBCouponID" value="5985f166-6e55-48b3-b23d-28a5b84bbf7f" />
    <!--是否记录摇钱宝摇一摇信息日志-->
    <add key="IsAddYQBLogInfo" value="1" />

    <!--定期投资-是否显示已完成列表：0-不显示或者不配置，1-显示 -->
    <add key="DisplayFinishList" value="1"/>

    <!--登陆缓存状态时间，单位：分钟 -->
    <add key="LoginCacheTime" value="21600"/>

    <!-- 车险机构号 -->
    <add key="PaymentInstitutionId" value="3"/>
    <!-- 车险结算市场订单 -->
    <add key="PaymentSettlementMarketOrderNo" value="ZJJS001654"/>
    <!-- 车险还款市场订单 -->
    <add key="PaymentRepaymentMarketOrderNo" value="CXHK001"/>

    <add key="CurrentChannel" value="2" />
    <!--默认机构号-->
    <add key="DefaultInstitutionNo" value="001443"/>
    <add key="financeInnerApiUrl" value="http://localhost:6989/api"/>
    <!--订单详情投资理财协议区分时间-->
    <add key="FinanceProtocalShowAfter" value="2017/5/4 11:30:00" />
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST" />
        <add name="Access-Control-Allow-Headers" value="content-type" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="StaticFile" />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="None" />
    </handlers>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <FinanceConfiguration>
    <EncryptConfigs>
      <System systemId="8">
        <EncryptItem>
          <add key="CusPfxFilePath" value="D:\cusKey\foo.pfx"/>
          <add key="CusPfxFilePassword" value="111"/>
          <add key="FinancePublickeyPath" value="D:\financeKey\foo.cer"/>
          <add key="aesKeyFinance" value="12345678912345678912345678912345"/>
          <add key="desKeyFinance" value="83j5WmUh"/>
        </EncryptItem>
      </System>

      <!--资金平台车险业务-->
      <System systemId="3">
        <EncryptItem>
          <add key="CusPfxFilePath" value="D:\cusKey\foo.pfx"/>
          <add key="CusPfxFilePassword" value="111"/>
          <add key="FinancePublickeyPath" value="D:\financeKey\foo.cer"/>
          <add key="aesKeyFinance" value="12345678912345678912345678912345"/>
          <add key="desKeyFinance" value="83j5WmUh"/>
        </EncryptItem>
      </System>
    </EncryptConfigs>
  </FinanceConfiguration>
</configuration>
