@model Max.BUS.Message.Log.InternalApiLogMessage
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><i class="fa fa-bars"></i> 日志详情</h4>
</div>

<div class="modal-body">
    <table class="table table-bordered">
        <tr>
            <td>
                <h3>原始请求参数【Base64String】</h3>
                @Html.TextAreaFor(c => c.RequestDataStr, new { @class = "form-control", @style = "height:150px" })
            </td>
            <td>
                <h3>请求【JsonString】</h3>
                @Html.TextAreaFor(c => c.RequestJson, new { @class = "form-control", @style = "height:150px" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3>响应结果【JsonString】</h3>
                @Html.TextAreaFor(c => c.Response, new { @class = "form-control", @style = "height:150px" })
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary">关闭</button>
</div>
