<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SeedConfig" type="Max.Framework.Id.SeedConfig,Max.Framework.Id"/>
    
  </configSections>
  <SeedConfig connString="Data Source=10.1.20.30;Initial Catalog=IDSeed;Persist Security Info=True;User ID=Finance_T;Password=Finance_TFinance_T" heartbeatInterval ="300"></SeedConfig>
  <appSettings>
    <!-- 单元测试URL -->
    <add key="UnitTestUrl" value="http://localhost:6830/api"/>
    <add key="SystemNo" value="101000" />
    <add key="CreditPayApiUrl" value="http://tapi.creditpay.com/webapi/service" />
    <add key="CreditPayToken" value="9E8858BD836D4A07A99AB50EB175FAE2" />
    <add key="PfxPath" value="D:\UcsmyCert\ucsmycert.pfx" />
    <add key="CerPath" value="D:\UcsmyCert\server.cer" />
    <add key="Password" value="ucs2013" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="YQBApiUrl" value="http://localhost:8003/wefax-bin/Business/YQB" />
    <add key="YQBToken" value="YQB" />
    <add key="EPlusQueryUrl" value="http://t3otherquery.frontpay.cn/api/queryservice/Query1030/"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>