@model Max.Web.Management.Models.Home.CustomerValidation
@{
    ViewBag.Title = "系统首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption"><i class="icon-home"></i> 首页</div>
        <div class="tools"></div>
    </div>
    <div class="portlet-body">
        <!--
        @using (Html.BeginForm("Do", "Home", FormMethod.Post, new { id = "validForm", @class = "form-horizontal form-bordered" }))
        {
            <div class="col-md-12 margin-bottom-10">
                <label class="label" style="color:black">[StringLength(2)] 最长2个字节</label>
                @Html.TextBoxFor(m => m.Account, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Account)
            </div>
    <div class="col-md-12 margin-bottom-10">
        <label class="label" style="color:black">[CharacterLength(2)] 最长2个字符</label>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> 保存</button>
        </div>
        }
             -->
    </div>
           
</div>
