<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--作业-->
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="HuaAnConfig" type="Max.Service.Payment.InsuranceSuppliers.HuaAn.HuaAnConfig,Max.Service.Payment" />
    <!--阳光保险-->
    <section name="SunlightConfig" type="Max.Service.Payment.InsuranceSuppliers.Sunlight.SunlightConfig,Max.Service.Payment" />
    <!--资金平台SDK-->
    <section name ="FinanceConfiguration" type="Max.SDK.Finance.Helper.FinanceConfigSection,Max.SDK.Finance"/>
    <!--日志-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <!--华安保险配置-->
  <HuaAnConfig ApiUrl="http://agenttest.sinosafe.com.cn/carservice" PayUrl="http://agenttest.sinosafe.com.cn/tstpayonline/recvMerchantAction.do"  UserName="zhaohang" PassWord="zhaohang" Extenterpcode="CMBC0601037043"></HuaAnConfig>
  <!--阳光保险配置-->
  <!--阳光保险配置-->
  <SunlightConfig ApiUrl1="http://1.202.156.231:7001/webapps/CommServer?OperateSite=GDQD" ApiUrl2="http://1.202.156.231:7001/webapps/CommserverInteractive?OperateSite=GDQD" OperateSite="GDQD" UserName="test" PassWord="test002" Key="cc0d52ecm5d17q46a0b9181r951c467b9ec5" PrefixIP="10.10.0.193    " BussinessNature="0" ChannelType="N023"  ITBusUrl="http://testservicebus.sinosig.com/WebContent/ServicebusCPLService.do"  QueryStatus="F8" PayType="83" ServerNameKey="QIANDUAN" RequestKey="QIANDUANCXBXWFVCH5LK4N1UO76BJE20ZRA3S8" ParameterKey="wtf8Y59PMv1jlaqYJgPvj254yis68P" SignKey="QIANDUANqianduan123" Extenterpcode="CMBC0601037043"></SunlightConfig>
  <!--华安保险配置 预演环境-->
  <!--<HuaAnConfig ApiUrl="http://agenttest.sinosafe.com.cn/carservicestg" PayUrl="http://agenttest.sinosafe.com.cn/tstpayonline/recvMerchantAction.do" UserName="zhaohang" PassWord="zhaohang" Extenterpcode="CMBC0601037043"></HuaAnConfig>-->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/log4net.config" />
        <arg key="level" value="ERROR" />
      </factoryAdapter>
    </logging>
  </common>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="ExampleDefaultQuartzScheduler" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="30" />
    <add key="quartz.threadPool.threadPriority" value="2" />
    <!-- 毫秒 -->
    <add key="quartz.jobStore.misfireThreshold" value="120000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
    <!--<add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />-->
    <!--<add key="quartz.plugin.xml.fileNames" value="jobs.xml" />-->
  </quartz>

  <connectionStrings>
    <add name="Max.Models.Payment" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Payment;Persist Security Info=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <!--<add name="Max.Models.Payment" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />-->
    <add name="Max.Models.QianTu" connectionString="Data Source=10.1.20.30;Initial Catalog=QianTu;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T;MultipleActiveResultSets=True;MultiSubnetFailover=True" />
    <add name="Max.Models.Project" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Project;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Qt_Msg" connectionString=" Data Source=10.1.20.30;Initial Catalog=Qt_Msg;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.PushMessage" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_PushMessage;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.CarLoan" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Payment;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <!--<add name="Max.Models.PushMessage" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_PushMessage;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />-->
  </connectionStrings>

  <appSettings>
    <!--付款方虚拟账户ID-->
    <add key="PayerAccountID" value="710dac6e-7f57-4d74-b37d-1c16d3ca3819"/>
    <!--付款方用户编号-->
    <add key="PayerUserNo" value="64dd4c20-e547-4a6e-bffc-0f80a0c2dc01"/>
    <!--付款方用户姓名-->
    <add key="PayerUserName" value="广东钱端商务服务有限公司"/>
    <!--付款方渠道ID-->
    <add key="PayerChannelID" value="c6c9731c-1a39-4571-83ce-fe123c543a36"/>
    <!--付款方渠道编号-->
    <add key="PayerChannelNo" value="U1000006"/>

    <!--摇钱宝api地址-->
    <add key="YQBApiUrl" value="http://lcapitest.qianduan.com/wefax-bin/Business/YQB" />
    <add key="YQBToken" value="YQB" />
    <add key="EPlusQueryUrl" value="http://t3otherquery.frontpay.cn/api/queryservice/Query1030/"/>
    <!--发短信邮件接口地址-->
    <add key="MsgUrl" value="http://tmsg.cmbchinaucs.com/MessageService.ashx" />
    <add key="SmsSystemId" value="1CC7C335-AEE1-4D34-BC81-032BF672BE3F" />
    <add key="tokenId" value="CDAE4822286C1472874ED71269D3571C" />

    <!-- 系统级别配置 开始-->
    <add key="redis" value="10.1.20.139:6379"/>
    <add key="bus" value="host=10.1.20.140;username=admin;password=admin@ucsmy" />
    <add key="memcache" value="10.1.20.29:11211" />
    <add key="mongo" value="mongodb://10.1.20.143:27017" />
    <!-- 0 不记录 1 MQ 2 文件 -->
    <add key="logType" value="1"/>
    <!-- 系统级别配置 结束 -->


    <!--中金支付Url-->
    <add key="CFCAUrl" value="http://financeapitest.qianduan.com/api" />
    <!--中金支付机构Id：8-->
    <add key="InstitutionId" value="8" />
    <!-- 资金平台API -->
    <add key="FinanceApiUrl" value="http://financeapitest.qianduan.com/api"/>
    <!-- 车险机构号 -->
    <add key="PaymentInstitutionId" value="3"/>
    <!-- 车贷结算市场订单 -->
    <add key="PaymentSettlementMarketOrderNo" value="ZJJS001654"/>
    <!-- 车贷还款市场订单 -->
    <add key="PaymentRepaymentMarketOrderNo" value="CXHK001"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.3.0" newVersion="2.3.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <FinanceConfiguration>
    <EncryptConfigs>
      <!--资金平台车险业务-->
      <System systemId="3">
        <EncryptItem>
          <add key="CusPfxFilePath" value="D:\cusKey\foo.pfx"/>
          <add key="CusPfxFilePassword" value="111"/>
          <add key="FinancePublickeyPath" value="D:\financeKey\foo.cer"/>
          <add key="aesKeyFinance" value="12345678912345678912345678912345"/>
          <add key="desKeyFinance" value="83j5WmUh"/>
        </EncryptItem>
      </System>
    </EncryptConfigs>
  </FinanceConfiguration>
</configuration>