<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="MobileConfig" type="Max.Service.QianDuan_Mall.Recharge.NNK.Models.MobileConfig,Max.Service.QianDuan_Mall" />
    <section name="FuelCardConfig" type="Max.Service.QianDuan_Mall.Recharge.NNK.Models.FuelCardConfig,Max.Service.QianDuan_Mall" />
    <section name="RefuelCardConfig" type="Max.Service.QianDuan_Mall.Recharge.RefuelCard.Models.RefuelCardConfig,Max.Service.QianDuan_Mall" />
  </configSections>
  <!--手机直充配置-->
  <MobileConfig ApiBaseUrl="http://112.95.172.89:7080/recvcdkey.php" QueryUrl="http://112.95.172.89:7080/fast_query.php" MerId="1000000007" MerAccount="100000000000007" Key="I5oCbrolpr4=" InterfaceName="007KA_KM" InterfaceNumber="1.0.1.2" QueryInterfaceName="007KA_SRH" QueryInterfaceNumber="1.0.0.1" SingleLimitAmount="100000" DayLimitAmount="500000" MerURL="http://openapitest.qianduan.com/RechargeApi"></MobileConfig>
  <!--加油卡充值配置-->
  <FuelCardConfig ApiBaseUrl="http://112.95.172.89:81/fuelcard/charge.php" QueryUrl="http://112.95.172.89:81/fast_query.php" MerId="1777777777" MerAccount="100000777777777" Key="I5oCbrolpr4=" InterfaceName="007KA_KM" InterfaceNumber="1.0.0.1" QueryInterfaceName="007KA_SRH" QueryInterfaceNumber="1.0.0.1" MerURL="http://openapitest.qianduan.com/RechargeApi"></FuelCardConfig>
  <RefuelCardConfig ApiBaseUrl="http://182.150.21.110:25555/b2b/orderInt.htm" QueryCardUrl="http://182.150.21.110:25555/fuel/querycardInfo.htm" QueryUrl="http://182.150.21.110:25555/b2b/queryOrderInt.htm" MerURL="http://openapitest.qianduan.com/RefuelCardApi" ServiceId="50" MerId="test000001" Key="test000001" UserName="广东钱端" Version="1.0.3加油卡"></RefuelCardConfig>
  
  <connectionStrings>
    <add name="Max.Models.Project" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_Project;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianDuan_Mall" connectionString="Data Source=192.168.20.118;Initial Catalog=QianDuan_Mall;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_DEV;Password=Finance_DEVDEV" />
    <add name="Max.Models.System" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_System;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianTu" connectionString="Data Source=10.1.20.30;Initial Catalog=QianTu;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T;MultipleActiveResultSets=True;MultiSubnetFailover=True" />
    <add name="Max.Models.QianTu_LC" connectionString="Data Source=10.1.20.30;Initial Catalog=QianTu_LC;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.QianTu_MC" connectionString="Data Source=10.1.20.30;Initial Catalog=QianTu_MC;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.Qt_Msg" connectionString=" Data Source=10.1.20.30;Initial Catalog=Qt_Msg;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.PushMessage" connectionString="Data Source=10.1.20.30;Initial Catalog=QianDuan_PushMessage;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.CarInsurance" connectionString=" Data Source=10.1.20.30;Initial Catalog=QianDuan_CarInsurance;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
    <add name="Max.Models.CarLoan" connectionString=" Data Source=10.1.20.30;Initial Catalog=QianDuan_CarInsurance;Persist Security Info=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;User ID=Finance_T;Password=Finance_TFinance_T" />
  </connectionStrings>

  <appSettings>
    <!-- 系统级别配置 开始-->
    <add key="redis" value="10.1.20.139:6379" />
    <add key="bus" value="host=10.1.20.140;username=admin;password=admin@ucsmy" />
    <!-- 0 不记录 1 MQ 2 文件 -->
    <add key="logType" value="1" />
    <!-- 系统级别配置 结束 -->

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
