<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 系统级别配置 开始-->
    <add key="serviceName" value="BUS-车险接口日志"/>
    <add key="redis" value="10.1.20.139:6379" />
    <add key="mongo" value="mongodb://10.1.20.143:27017" />
    <add key="bus" value="host=10.1.20.140;username=admin;password=admin@ucsmy" />
    <add key="debugLog" value="1" />
    <add key="debugErr" value="1" />
    <!-- 系统级别配置 结束 -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>